@import url("https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Varela+Round");

/* general styling */
.center {
  text-align: center;
}

h2 {
  font-weight: 700 !important;
  font-size: 2rem !important;
  color: #f8efef;
  background-color: rgb(39, 39, 44);
}
/* nav bar styling  */
.navbar {
  background: linear-gradient(
      to bottom,
      rgba(10, 9, 9, 0.3) 0%,
      rgba(2, 1, 1, 0.7) 75%,
      #000000 100%
    ),
    url("../assets/img/bg-masthead.jpg");
}
.navbar-brand {
  color: #f5efef !important;
  font-weight: 700 !important;
  font-size: 2rem;
}
.navbar-nav a,
.navbar-toggler {
  color: #f5efef !important;
  font-weight: 500 !important;
  font-size: 1rem;
  border-color: #f5efef;
}
/* index page styling */

.masthead {
  position: relative;
  width: 100%;
  height: 86vh;
  min-height: 30rem;
  padding: 10rem 0;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.7) 75%,
      #000000 100%
    ),
    url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: #f5efef !important;
}
.masthead h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  padding-bottom: 25px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: #f5efef;
  font-weight: 700;
  font-size: 3rem;
}
.masthead h3 {
  max-width: 20rem;
  font-size: 1.2rem;
  color: #f5efef;
  font-weight: 500;
}

.btn-index {
  color: #f5efef;
  font-weight: 500;
  font-size: 1rem;
  background-color: rgb(57, 61, 61);
}
/* sign up page styling  */

.signup-section {
  padding: 10rem 3rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      #000000 100%
    ),
    url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
}

.signup-section p {
  color: aliceblue;
}
.not-member {
  padding-top: 20px;
}

.form-color {
  color: #757575;
}
/* flashes styling  */
.flashes {
  background-color: aliceblue;
  color: #2c2b2b;
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 20px;
  list-style-type: none;
}
/* forbidden page styling */
.forbidden-section {
  padding: 10rem 3rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      #000000 100%
    ),
    url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  height: 95vh;
}
/* profile page styling */
.profile-section {
  padding: 7rem 3rem;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 75%,
      #000000 100%
    ),
    url("../assets/img/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  height: auto;
}

.creat-btn {
  width: 100%;
  background-color: rgb(57, 61, 61);
  color: white;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
  height: 30px;
  font-weight: 700;
  font-size: 1.5rem;
}

.profile-heading h2 {
  font-weight: 500;
  color: #f5efef;
  background-color: rgb(39, 39, 44);
  margin-bottom: 40px;
}

.btn-gallery {
  width: 100%;
  background-color: rgb(57, 61, 61);
  color: white;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
}

/* album styling  */

.album {
  color: #d4b3b3;
  font-size: 16px;
  border: grey 1px solid;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 40vh;
}

.thumb {
  margin-bottom: 20px;
}

img.zoom {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.transition {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.welcome-message {
  padding: 30px;
}
.welcome-message h2 {
  color: #021927;
  font-family: Nunito, "Times New Roman", Times, serif;
  font-weight: 900;
  color: #f5efef;

}

.pagination-page-info {
  padding: 0.6em;
  padding-left: 0;
  width: 40em;
  margin: 0.5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: rgb(240, 233, 233);
  background-color: rgb(39, 39, 44);
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 150%;
}
.pagination {
  color: black;
  padding-left: 2px;
  padding: 0.1em 0.25em;
  font-size: 120%;
  text-align: center;
}
.pagination ul li {
  list-style-type: none;
  display: inline;
  padding: 20px;
  color: #757575;
}
.pagination ul li a {
  color: #757575;
}
.delete-btn {
  width: 100%;
  background-color: rgb(39, 39, 44);
  color: white;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
}
.delete-btn:hover {
  background-color: rgb(1, 17, 17);
}
/* edit my page styling */

.delete-profile {
  color: white;
  padding: 20px;
  margin-top: 100px;
}

/* contact form styling  */
form ::placeholder {
  color: #ced1d8;
}
.contact-form {
  text-align: center;
}

.contact-form h4 {
  padding: 15px;
  color: #f5efef;
}

.contact-form button {
  margin-top: 25px;
  background-color: #43400c;
  color: #ffffff;
}

.form-control {
  margin-bottom: 10px;
}