{% extends 'loggedin-base.html' %}
{% block content %}
<section class="profile-section container-fluid">
    <div class="row">
        <div class="col welcome-message">
            <h2>Welcome to Your Gallery {{name}} </h2>
        </div>
    </div>
    {{ pagination.info }}

        <div class="album">
            <div class="row">
            {% for photo in photos %}
            <div class="col-md-4 thumb">
                <a href="{{ photo.src }}" class="fancybox" rel="ligthbox" data-fancybox="gallery">
                    <img src="{{ photo.src }}" class="zoom img-fluid " alt="{{ photo.alt }}">
                </a>
            </div>
            {% endfor %}
        </div>
        </div>
        <div class="row pagination">
            {{ pagination.links }}
        </div>
</section>
<script>
    $(document).ready(function () {
        $(".zoom").hover(
            function () {
                $(this).addClass("transition");
            }, function () {
                $(this).removeClass("transition");
            }
        );
        $(document).ready(function () {
            $(".album a").fancybox();
        });
    });
</script>

{% endblock %}