{% extends 'loggedin-base.html' %}
{% block content %}
<!-- edit my profile form section  -->
<section class="profile-section container-fluid">
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <form action="/update_profile" method="POST" class="text-center border border-light p-5">
                <h2 class="h4 mb-4">Update your Profile</h2>
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4"
                placeholder="Update Your E-mail" name="email" value="{{email}}" readonly>
                <input type="text" id="name" class="form-control mb-4" placeholder=" Update Your Name" name="name" value="{{name}}"
                    required>
                <input type="password" id="password" class="form-control mb-4" placeholder="Update Your Password"
                    name="pass" pattern=".{8,}" required>
                <input type="password" id="confirm_password" class="form-control mb-4"
                    placeholder="Confirm Your Updated Password" pattern=".{8,}" required>
                <button class="btn btn-info btn-block my-4 btn-index" type="submit">Update Your Profile</button>
            </form>
            <div class="delete-profile">
                <h3>Delete Your Profile:</h3>
                <p>Warning !! by clicking on "Delete Your Profile" below you will lose your account permenantly, your photos and
                    data will be deleted immediately </p>
                <form action="/delete_profile">
                    <button type="submit" class="delete-btn">Delete Your Profile</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- checking password if it matches   -->
<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>

{% endblock %}