{% extends 'errorbase.html' %}
{% block content %}
<!-- Forbidden page  -->
<section class="forbidden-section">
    <h1>Internal Server Error </h1>
    <h3>Please Try again later!</h3>
    <div>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>
    <h3>The service is not available at the moment please try again later!</h3>
    <h5>Aplogies for the incovenience</h5>
</section>
{% endblock %}