{% extends 'base.html' %} 
{% block content %}
<!-- main page  -->
<section class="masthead container-fluid">
    <div>
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %} {% endwith %}
    </div>
    <div class=" d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto text-uppercase">Photo Gallery</h1>
            <h3 class=" mx-auto mt-2 mb-5">A free, responsive, one page Photo Gallery.</h3>
            <a class="btn btn-primary btn-index" href="{{url_for('signup')}}">Sign Up Now</a>
        </div>
    </div>
</section>
{% endblock %}
