{% extends 'base.html' %} 
{% block content %}
<section class="masthead container-fluid">
    <div class=" d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Photo Gallery</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Photo Gallery.</h2>
            <a class="btn btn-primary js-scroll-trigger" href="{{url_for('signup')}}">Sign Up Now</a>
        </div>
    </div>
</section>
{% endblock %}
