{% extends 'base.html' %}
{% block content %}
<section class="signup-section">
    <div class="row">
        <div class="col">
            {% with messages = get_flashed_messages() %} {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endwith %}
            <div class="col">
                <form class="text-center border border-light p-5" method="POST">
                    <h2 class="h4 mb-4">Sign Up</h2>
                    <input type="text" id="name" class="form-control mb-4" placeholder="Your Name"
                    name="name" required>
                    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"
                        name="email" required>
                    <input type="password" id="password" class="form-control mb-4"
                        placeholder="Password" name="pass" pattern=".{8,}" required>
                    <input type="password" id="confirm_password" class="form-control mb-4"
                        placeholder="Confirm Your Password" pattern=".{8,}" required>
                    <button class="btn btn-info btn-block my-4 btn-index" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- checking password if it matches   -->
<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}